DATABASE_URL=postgresql database link

MPESA_CONSUMER_KEY=consumer key
MPESA_CONSUMER_SECRET=consumer secret
MPESA_PASSKEY=passkey
MPESA_SHORTCODE=shortcode
MPESA_CALLBACK_URL=link/mpesa/stk/callback/

GEMINI_API_KEY=Gemini API Key
