.main {
    background-color: var(--surface-variant);
    display: flex;
    flex-direction: row;
}

.authImagePane {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: var(--surface-tint);
}

.authLogo {
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

.loginSection,
.registerSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    font-weight: 900;
}

.disclaimer {
    width: 40vw;
    font-weight: 600;
}

.loginFormContainer,
.registerFormContainer {
    background-color: rgb(from var(--inverse-primary) r g b / 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.loginFormContainer {
    max-width: 50vw;
    min-width: 35vw;
    height: 60vh;
}

.registerFormContainer {
    width: 40vw;
    max-height: 70vh;
    min-height: 500px;
}

.loginForm,
.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
    box-sizing: border-box;
}

.loginForm {
    padding-top: 10vh;
    width: 80%;
}

.registerForm {
    padding-top: 5vh;
    width: 35vw;
}

.loginForm input,
.registerForm input,
.registerForm select {
    width: 100%;
    box-sizing: border-box;
    border: var(--primary) solid 1px;
    border-radius: 10px;
    background-color: var(--surface-bright);
}

.loginForm input {
    height: 60px;
    padding: 10px;
}

.registerForm input,
.registerForm select {
    height: 50px;
    padding: 0 10px;
}

.forgotPassword {
    font-size: 0.75rem;
    color: var(--primary);
    align-self: flex-end;
    font-weight: 900;
}

.names,
.numEmail {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.names input,
.numEmail input {
    flex: 1;
    min-width: 0;
}

.registerPrompt,
.loginPrompt {
    align-self: center;
    margin-top: 2vh;
}

.authLink {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

.submitButton {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    min-width: 200px;
    color: var(--on-primary);
    font-weight: bold;
    align-self: center;
}

.registerForm select option {
    background-color: var(--surface-tint);
}
