h1 {
    font-weight: 900;
}


.main {
    background-color: var(--surface-variant);
    display: flex;
    flex-direction: row;
}

.reg-image {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    background-color: var(--surface-tint);
}

img {
    width: 90%;
    height: 90%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
}

.register-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disclaimer {
    width: 40vw;
    font-weight: 600;
}

.form-container {
    background-color: rgb(from var(--inverse-primary) r g b / 0.5);
    /*filter: opacity(50%);*/
    width: 40vw;
    max-height: 70vh;
    min-height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.form {
    box-sizing: border-box;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
    width: 35vw;
}

.form input, .names input, .num-email input, .form select {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    border: var(--primary) solid 1px;
    border-radius: 10px;
    background-color: var(--surface-bright);
}

.names, .num-email {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.names input, .num-email input {
    flex: 1;
    min-width: 0;
}

select option {
    background-color: var(--surface-tint);
}

.login {
    align-self: center;
    margin-top: 2vh;
}

.login-link {
    color: var(--primary);
    text-decoration: none;
    font-weight: 500;
}

button {
    background-color: var(--primary);
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    min-width: 200px;
    color: var(--on-primary);
    font-weight: bold;
    align-self: center;
}


